* {
	margin:0px;
	padding:0px;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#b6d5ee url(../images/bodyBg.jpg) top left repeat-x;
	margin-bottom:10px;
}

#main{
	width:935px;
	margin:0px auto;
}

#header{
	margin:0px auto;
	text-align:center;
}

#navigation{
background:transparent url("../images/green.jpg") repeat-x top left;	
text-align:center;
font-size:14px;
font-weight:bold;
border:1px solid #7a7a7a;
margin:0px 6px -20px;
z-index:100;
position:relative;
}

#navigation ul{
	margin:0px auto;
	width:auto;
}

#navigation ul li {
display:inline;	
text-transform:uppercase;
border-right:1px solid #808856;
line-height:33px;
padding:9px 12px 9px 9px;
}

.first{
	border-left:1px solid #808856;
}

#navigation ul li a{
	color:#ffffff;
	text-decoration:none;
/*	background:#000;*/

}

#navigation ul li a:hover{
/*		background:#fff;*/
color:#eaeaea;
}

.clear{
clear:both;	
}

#contentHolder{
/*	background:url(../images/bottomBg01.png) repeat-x bottom center;*/
/*	background:url(../images/02.png) no-repeat bottom center;
	padding:0px 0px 115px;
/*	border:1px solid green;*/
}

#back{
	background:url(../images/01.png) no-repeat bottom center;

	padding:0px 6px;
}

#content{
/*	background:url(../images/contentBg.png) repeat-y top center;*/
	background:url(../images/04.png) repeat-y top center;	
/*	border:1px solid red;*/
}

.bottomImg{
		text-align:left;
/*		border:1px solid green;*/
	/*	margin:0px -6px 7px -6px;*/
	margin:0px -1px;
}

#leftpart{
float:left;
width:197px;
margin:40px 0px 0px 16px;
}

h1{
background:url(../images/hBg.jpg) repeat-x;	
font-size:14px;
text-transform:uppercase;
padding:8px;
}

#leftpart ul{
	
}

#leftpart ul li{
list-style:none;
background:#e9e9e9;
border-bottom:1px solid #c2c2c2;
border-top:1px solid #ffffff;
padding:10px;
}

#leftpart ul li a{ color:#000; text-decoration:none;}

#leftpart ul li:hover { background:#fff; cursor:pointer;}

.container{
border:1px solid #c2c2c2;	
}

.button{
text-align:right;
padding:40px 10px 10px 0px;
background:#e9e9e9;
}

.learnmore{
background:url(../images/btBg.png) no-repeat;
width:114px;
height:24px;
border:none;
text-transform:uppercase;
color:#ffffff;
font-size:12px;
padding-bottom:4px;
}

.learnmore:hover { color:#000; cursor:pointer;}

#middlepart{
float:left;
margin:40px 5px 0px 7px;
width:480px;
}

#middlepart a {
	color:#000;	
    text-decoration: none;
}

p{
margin:10px 0px;	
}

#rightpart{
float:right;
margin:40px 16px 0px 0px;
width:197px;
}

#rightpart .learnmore{
background:url(../images/rBtBg.png) no-repeat;
width:84px;
height:24px;
border:none;
text-transform:capitalize;
color:#ffffff;
font-size:11px;
margin:70px 15px 10px 0px;
}

#rightpart .learnmore:hover { color:#000;}

.wind1{
background:url(../images/windImg01.jpg) no-repeat center;
height:101px;
margin:10px auto;
text-align:right;
}

 

.wind2{
background:url(../images/windImg02.jpg) no-repeat center;
height:101px;
margin:10px auto;
text-align:right;
}

.space{
height:10px;	
}

#footer{
	color:#3f3f3f;
	font-size:10px;
	margin:-5px 8px 0px;
	line-height:normal;
	font-weight:bold;
}

#footer a {
	color:#3f3f3f;
	font-size:10px;
	margin:-5px 8px 0px;
	line-height:normal;
	font-weight:bold;
    text-decoration: none;
}

.copy{
	float:left;
	width:auto;
}

.design{
float:right;
margin-top:-13px;
width:auto;
}
/*----------------------------------------------*/
/* 2.2 Header Slider */
/*----------------------------------------------*/
.header_slider {
	width:940px;
	height:327px;
	position:relative;
	padding:0 10px;
	z-index:11}

.header_slider .slides_container {
	width:940px;
	height:327px;
	overflow:hidden;
	position:relative;
	z-index:11}

.header_slider .slide {
	width:940px;
	height:327px;
	display:block;
	position:relative}

.header_slider .slide_image {
	width:442px;
	height:327px;
	float:right}

.header_slider .slide_text {
	position:absolute;
	top:40px;
	left:30px;
	width:560px;
	font-family:'Lato', sans-serif;
	font-weight:bold;
	color:#ffffff;
	text-shadow:0 1px 1px #666;
	font-size:15px;
	line-height:1.7em}

.header_slider .slide_title {
	color:#454773;
	font-size:47px;
	font-family: 'Arizonia', cursive;
	text-shadow:0 1px 1px #c9cbda;
	margin:0 0 12px 0;
	line-height:0.8em}

.header_slider .slide_title strong {
	font-weight:normal}

.header_slider .slide_title a {
	color:#454773}

.header_slider .slide_text .link-more {
	color:#ae373c;
	text-shadow:0 1px 1px #ececec;
	text-transform:uppercase;
	font-size:12px;
	margin-left:5px;
	font-weight:900}

.header_slider .pagination {
	display:block;
	position:absolute;
	bottom:52px;
	left: 10px;
	z-index:12}

.header_slider .pagination li {
	display:block;
	margin:0 4px;
	width:29px;
	height:29px;
	float:left;
	text-align:center;
	font-size:12px;
	font-weight:bold}

.header_slider .pagination li a {
	display:block;
	float:left;
	width:29px;
	height:29px;
	line-height:29px;
	overflow:hidden;	
	background:url(images/slider_pagination.png) 0 0 no-repeat;
	color:#fff}

.header_slider .pagination li.current a {
	background-position:0 -29px;
	color:#51537c}

.header_slider .prev, .header_slider .next {
	display:block;
	position:absolute;
	top:0;
	width:24px;
	height:210px;
	background:url(images/slider_arrows.png) 0 85px no-repeat;
	overflow:hidden;
	text-indent:-500px;
	z-index:2}	

.header_slider .prev {
	left:0}

.header_slider .next {
	right:0;
	background-position:-24px 85px}

.header_slider .prev:hover {
	background-position:-48px 85px}

.header_slider .prev:active {
	background-position:-48px 86px}

.header_slider .next:hover {
	background-position:-72px 85px}

.header_slider .next:active {
	background-position:-72px 86px}
	
	
	
	
#Button1 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}



#Button2 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}

#btnLogin {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}






